@{
    ViewData["Title"] = "Details";
}

@model SmartDormitory.Data.Models.SensorsFromUser

<h2>Details</h2>

@await Html.PartialAsync("_ViewSensorDetailsPartial", Model)

<br />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div id="jg5" class="gauge size-2"></div>
<div class="h-split"></div>

ASD

<script src="~/lib/justgage/raphael-2.1.4.min.js"></script>
<script src="~/lib/justgage/justgage.js"></script>
<script>

    function myPeriodicMethod() {
        
        $.ajax({
            url: "/Sensor/Test/@Model.ID",
            success: function (data) {
                update(parseFloat(data.value))
            },
            complete: function () {
                setTimeout(myPeriodicMethod, 1000);
            }
  });
}
    
    setTimeout(myPeriodicMethod, 1000);

</script>
<script>
    addJustGade()
   
    var jg5;
    function addJustGade() {
       
    document.addEventListener("DOMContentLoaded", function (event) {
        var defs2 = {
            label: "ANgele",
            value: @Model.Value,
            min: @Model.ValueRangeMin,
            max: @(Model.ValueRangeMax),
            decimals: 1,
            gaugeWidthScale: 0.7,
            pointer: true,
            pointerOptions: {
                toplength: 5,
                bottomlength: 30,
                bottomwidth: 5
            },
            counter: true,
            donut: true,
            relativeGaugeSize: true
        }

        jg5 = new JustGage({
            id: "jg5",
            defaults: defs2
        });
        });
    }
    
    function update(val) {
        console.log("called with " + val)
        jg5.refresh(val);
    }
</script>