@{
    ViewData["Title"] = "Details";
}

@model SmartDormitory.Data.Models.SensorsFromUser

<h2>Details</h2>

@await Html.PartialAsync("_ViewSensorDetailsPartial", Model)

<br />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div id="jg5" class="gauge size-2"></div>
<div class="h-split"></div>

ASD

<script src="~/lib/justgage/raphael-2.1.4.min.js"></script>
<script src="~/lib/justgage/justgage.js"></script>
<script>

    function myPeriodicMethod() {
        
        $.ajax({
            url: "/Sensor/Test/@Model.ID",
            success: function (data) {
                test(parseFloat(data.value))
            },
            complete: function () {
                setTimeout(myPeriodicMethod, 2000);
            }
  });
}

    // schedule the first invocation:
    setTimeout(myPeriodicMethod, 2000);

</script>
<script>
    addJustGade()
    //function test(val) {
    //    jg5.refresh(val);
        @*var defs2 = {
            label: "asd",
            value: val,
            min: @Model.ValueRangeMin,
            max: 100,
            decimals: 0,
            gaugeWidthScale: 0.6,
            pointer: true,
            pointerOptions: {
                toplength: 5,
                bottomlength: 15,
                bottomwidth: 2
            },
            counter: true,
            donut: true,
            relativeGaugeSize: true
        }*@
        //console.log($("#jg5")[0])
        @*jg5 = new JustGage({
            id: "jg5",
            defaults: defs2
        });*@
    //}
    var jg5;
    function addJustGade() {
       
    document.addEventListener("DOMContentLoaded", function (event) {
        var defs2 = {
            label: "asd",
            value: @Model.Value,
            min: @Model.ValueRangeMin,
            max: 100,
            decimals: 0,
            gaugeWidthScale: 0.6,
            pointer: true,
            pointerOptions: {
                toplength: 5,
                bottomlength: 15,
                bottomwidth: 2
            },
            counter: true,
            donut: true,
            relativeGaugeSize: true
        }

        jg5 = new JustGage({
            id: "jg5",
            defaults: defs2
        });
        });
    }
    
    function test(val) {
        console.log("called with " + val)
        jg5.refresh(val);
    }
</script>