
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main_title">
                <h2>About</h2>
                <h1>About</h1>
            </div>
        </div>
    </div>
    <div class="row about_content align-items-center">
        <div class="col-lg-6">
            <div class="section_content">
                <h6>About Us</h6>
                <h1>We Believe that <br>Our Sensors will change the world</h1>
                <p>
                    Providing this amazing system of dormitory sensors - for temperature, humidity, even open/closed doors,
                    we can guarantee that our clients will have the entire power to understand when, under what conditions
                    the students are performing the best. That's why we are inovation! Because we make the world a better place.
                </p>
                <a class="primary_btn" href="#">Learn More</a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about_us_image_box justify-content-center">
                <img class="img-fluid w-100" src="~/template/img/network.png" alt="">
            </div>
        </div>
    </div>
</div>