/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ddd;
}
 
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    width: 100%;
    border: 0px solid #3a01b8;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fff
}

section {
    height: 480px;
}

#map {
    height: 400px;
}

.title {
    text-align: center;
}

.section-title {
    text-align: center;
}

#sign-in-container {
    margin: auto;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}



.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

.gauge {
    display: block;
    float: left;
    box-sizing: border-box;
    margin: 0 0 1% 0;
}

.size-1 {
    width: 20%;
}

.size-2 {
    width: 30%;
}

.size-3 {
    width: 48%;
}

.h-split {
    display: block;
    float: left;
    width: 1%;
    min-height: 100px;
}

.hide-it {
    display: none;
}

.logo_h {
    width: 5.5%;
    height: 5.5%;
}
