
#map {
    height: 400px;
}

.title {
    text-align: center;
}

.section-title {
    text-align: center;
}

#sign-in-container {
    margin: auto;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.hide-it {
    display: none;
}

.logo_h {
    width: 5.5%;
    height: 5.5%;
}
